body { padding-top: 70px; }

div {border:0px solid black;}
input[type="text"]{font-family:sans-serif;}
div.text label{font-family:sans-serif;}
div.text button{font-family:sans-serif;}
.ui-widget-overlay{background:black;}
.main-dialog-class {font-family:sans-serif;}
.main-dialog-class .ui-widget-header{background:#BFBFBF;border:0;color:#fff;font-size:16px}
.main-dialog-class .ui-widget-content{background-image:none;background-color:#fff;}
#GridEvol th{text-align:center; vertical-align:middle;}
#GridEvol td{text-align:center; vertical-align:middle;}
#GridResg th{text-align:center; vertical-align:middle;}
#gridContrib td{vertical-align:middle;}
#gridContrib th{text-align:center; vertical-align:middle;}

ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li { 
    display: block; 
    margin: 3px;
}

.table-contrib {
        border: 1px solid #ddd;
    }

.table-contrib select {
        width:110px!important;
    }

.table-contrib input {
        width:110px!important;
    }

.table-contrib th{
        padding: 8px!important;
    }

.table-bg {
  border: 0px!important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.padding-right-none{
    padding-right:0px;
}

.padding-left-none{
    padding-left:0px;
}

#GridSRB th {
    text-align:center;    
}

.valReceita {
  border: 0 !important;
  color: #3399FF !important;
  font-weight: bold !important;
}

.valDesconto {
  border: 0 !important;
  color: #FF5050 !important;
  font-weight: bold !important;
}

.valLiquido {
  border: 0 !important;
  color: #339933 !important;
  font-weight: bold !important;
}

.irBenefMarginLeft {    
  margin-left: -18px;
}