
/*@import url();*/
@font-face {
     font-family: Raleway;
     src: url('../fonts/Raleway/Raleway-Regular.ttf');
}
body
{
    font-family: 'Raleway' , sans-serif !important;
    padding-top: 0;
    background-color: transparent;
    height: 100%;
}
.navbar
{
    position: relative;
    min-height: 0;
    margin-bottom: 0;
    border: 1px solid transparent;
    background-color: white;
}
.navbar-nav.mobile-bar
{
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
    margin: 4px 0px;
    padding-top: 0;
}
        
.navbar-inverse
{
    background-color: #00a19c;
    border-color: #00a19c;
}
.navbar-nav.mobile-bar a
{
    font-size: 18px;
    font-weight: bold;
    color: #ffffff !important;
}
.navbar-nav.mobile-bar a:hover, .navbar-nav.mobile-bar a:focus
{
    /*color: #ebebeb !important;*/
    color: #007b8b !important;
}
        
span.menu-icon
{
    display: block;
    font-size: 1.8em;
    text-align: center;
}
        
.content
{
    background-color: #00a19c;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
}
.content .detail
{
    width: 80%;
    border-bottom: 1px solid #f0f0f0;
    margin: 0 auto;
    text-align: center;
    padding: 1%;
    color: #ffffff;
}
.content .detail:last-child
{
    border-bottom: 0;
}
.content .detail > p > strong
{
    font-size: 14px;
}
.content .detail:last-child > p > strong
{
    font-size: 22px;
}
/* .navbar {
height: calc(100%);
max-height: 300px;
-webkit-transform: translate(0px, calc(-100% + 69px));
transform: translate(0px, calc(-100% + 69px));
}

.animate {
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}*/
.navbar-fixed-top
{
    top: 0;
    border-width: 0 0 1px;
}
.navbar-fixed-top, .navbar-fixed-bottom
{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.table-bordered, .table-responsive, table
{
    border: none;
}
        
.table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td
{
    border: 0;
    border-bottom: 1px solid #ddd; /*border-top: 1px solid #ddd;*/
    color: #ffffff;
}
.table-bordered > tbody > tr > th
{
    border: 0;
    color: #ffffff;
}
.nav > li
{
    position: relative;
    display: block;
    width: 29%;
    left: -4px;
}
.list-group > li
{
    font-size: 12px; /*font-size: 11px;*/
    background: #c4a95a;
    color: #fff;
    border: 0;
}
.list-group-item
{
    padding: 3px 15px;
}
.panel
{
    border: 0;
    margin-bottom: 0;
}
.panel-body
{
    padding: 25px 5px 10px 5px;
    background: #c4a95a;
}
.panel-default > .panel-heading
{
	padding: 15px 15px;
    color: #fff;
    background-color: #707070;
    border: 0;
    text-align: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.row {
                margin-right: 0;
                margin-left: 0;
            }
 .col-sm-12
        {
        	    padding-right: 0;
                padding-left: 0;
        	}
#grdRentab > tbody > tr > th, #grdRentab > tbody > tr > td {
    border: 0;
    color: #5a5a5a;
}

#grdRentab > tbody > tr > td:last-child {
    border: 0;
    color: #00b7d3;
    border-bottom: 1px solid #fff;
}

    #grdRentab > tbody > tr > td 
    {
    	border-bottom: 1px solid #fff;
    }
    .nav > li {
    text-align: left;
}
    .nav > li > a {
    padding: 5px 10px;
}
    .navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    font-weight: 600;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #ffffff;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #00a19c;
}
.navbar-inverse .navbar-toggle {
    border-color: #fff;
}
.panel-info-bco, .info-bco
{
    background: #e3e3e3!important;
    color: #5a5a5a!important;
}
.panel-saldo
{
	background: #fff!important; font-size: 12px!important; color: #c4a95a!important;
	}
.panel-boleto {    background: #fff!important;font-size: 40px!important;color: #04b6d3!important;}
.pRentab
{
color:#fff;
}
.pRentabPerc
{
color:#00b7d3;
}
.hrRentab
{
	border-top:1px dashed #fff;
}
.nav{
            display:inline;width:80%;
    }
    .nav > li{
        float:left; display:inline; margin-left:0px;Width:20%!important;
    }
    .navbar-nav > li > a {
            
    font-size: 9px;
    text-align: center;
    }
    .navbar-toggle {
        padding: 6px 5px;
        margin-left: 15px;
        margin-right: 15px;
        border: none;

    }
    .glyphicon {
        font-size: 16px;
    }
        .menu-active
    {
		background: #707070;
		border-radius: 13%;
    }
    .perfil
    {
        	
        }
        	
    .modalbackground{
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: none;
        background-color: rgba(84, 82, 82, 0.498039);
    }
    #wait
    {
        display:none;border:none;position:absolute;top:0;padding:2px;z-index:2;
        }
	.btn-center
	{
		position: fixed;
		height: 5rem;
		width: 17rem;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
.panel-heading
{
	font-size:16px;
	font-weight:bold;
	}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.panel-boleto {background: #00a19c!important;font-size: 40px!important;border-bottom: solid 2px #04b6d3!important;}
.panel-body-menu {    padding: 25px 5px 10px;    /*background: #c4a95a; amarelo*/background: #007B8B;}
#accordionBoleto { min-height:700px;}
.data-boleto { font-size:14px;color:#ffffff;background:#00a19c!important}
.data-valor{ font-size:16px;color:#ffffff;background:#fff!important}
.code-boleto { padding: 25px 0px 40px 0px;text-align:center;color:#fff}
.code-boleto > span {font-size:21px}
.btn-boleto {margin: 0 auto; padding-bottom: 10px;margin-top:10px;text-align:center;}
#lblValorDoc {color:#04b6d3}
.boleto-expand {
    background: #ffffff;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #00a19c;
}
    .boleto-expand > a {
        display: block;
            color:#00a19c;
    }
    .demo-expand {
   background: #707070;
    text-align: center;
    padding: 5px;
}
.demo-expand > a {
        display: block;
            color:#fff;
    }
#accordionDemo {
    margin:0;
}
.panel-demonstrativo {
    padding-bottom:25px;padding-top:25px;border-top: 1px solid #fff;
}
.header-demonstrativo {

font-size:14px;color:#fff;

}
.header-demonstrativo > small {
    color:#000;
}
.trDemoVlNegativo {
    font-size:14px;font-weight:bold;color:red;
}
.trDemoVlPositivo {
    font-size:14px;font-weight:bold;color:#00b7d3;
}
.trDemoDescricao {
    color:#5a5a5a!important;
}
#accordion>.row {
border-bottom:solid 1px #fff;
}                     
.panel-collapse {
background:#e3e3e3;  
}
.panel-collapse>.table-bordered>tbody>tr>th {
border: 0;
color: #5a5a5a;
font-weight:bold;
                                            
}
.panel-collapse > .table-bordered > tbody > tr > th:first-child {
width:70%;    
}
.panel-collapse>.table-bordered>tbody>tr>td {
border: 0;
color: #5a5a5a;
                                            
}
#dvEtapaIEmprestimo > table > tr > td:first-child {
color:#fff;
font-size:14px;
}
#dvEtapaIIEmprestimo > table {
    /*margin:0;*/
}
#dvEtapaIIEmprestimo > table > tbody > tr > td {
padding:15px;
}
#dvEtapaIIEmprestimo > table > tbody > tr:last-child > td {
    border:0;        
}
#dvEtapaIIIEmprestimo > table {
    /*margin:0;*/
}
#dvEtapaIIIEmprestimo > table > tbody > tr > td {
padding:15px;
}
#dvEtapaIIIEmprestimo > table > tbody > tr:last-child > td {
    border:0;        
}
#dvContratoAtivo>.table-bordered > tbody > tr > td,  #dvContratoAtivo>.table-bordered > tfoot > tr > td,  #dvContratoAtivo>.table-bordered > tfoot > tr > th,  #dvContratoAtivo> .table-bordered > thead > tr > td {
    color: #00a19c;
    width:20%;
                                                
}
#dvContratoAtivo > .table-bordered > tbody > tr > td {
font-weight:bold;
font-size:14px;
}
#dvContratoAtivo > table {
    padding-bottom: 10px;
}
        
.rowRentab {
    background-color:#f0f0f0;
}